html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
article, figcaption, footer, figure, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, article, 
footer, figure, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body{
    font-family:"Barlow Semi Condensed", sans-serif;
    background-color:  hsl(210, 46%, 95%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-Container{
    max-width: 35rem;
    display: grid;
    gap: 2rem;
    margin: 1rem;
}

.testimony{
    padding: 1.5rem;
    border-radius: .5rem;
    line-height: 1.5;
    color:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .4rem;
}
.testimony>p:nth-of-type(1){
    font-weight: 600;
    font-size: 1.5rem;
}
.testimony>p:nth-of-type(2){
    opacity: 70%;
}
.figure{
    display: flex;
    gap: 1rem;
}
.figure-Img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.figure-Img>img{
    width: 100%;
    object-fit: cover;
}
.figure-Img+div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .2rem;
}
.figure-Img+div>h1{
    font-weight: 600;
}
.figure-Img+div>p{
    opacity: 50%;
}

/* Block scope Styling */

.daniels-testimony{
    background-color: hsl(263, 55%, 52%);
    position: relative;
}
.quotation{
    position: absolute;
    right: 3rem;
    top: 1rem;
    opacity: 0.5;
}
.jonathans-testimony{
    background-color: hsl(217, 19%, 35%);
}
.abrams-testimony{
    background-color:  hsl(219, 29%, 14%);
}

/* Exception Scope Styling */

.jeans-testimony,.kiras-testimony{
    background-color: white;
    color:  hsl(217, 19%, 35%);
}

@media (min-width:40rem){
    .grid-Container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
                        "d  d jo k"
                        "je a  a k";
        gap: 1rem;
        max-width: 1000px;
    }
    .testimony{
        line-height: 1;
    }
    .daniels-testimony{
        grid-area: d;
    }
    .abrams-testimony{
        grid-area: a;
    }
    .jeans-testimony{
        grid-area: je;
    }
    .jonathans-testimony{
        grid-area: jo;
    }
    .kiras-testimony{
        grid-area: k;
    }
    .container{
        min-height: 100vh;
    }
}